/* general layout */

body {
    margin:0px;
    padding:0px;
    background-color:darkgrey; /'lightgrey;*/
    height:100%;
    min-height: 100%;
}

.header {
    color: #f5eec2;
    background-color: #39395f;
    line-width:40px;
    height:40px;
    margin:0px;
    padding:0px;
    position: fixed;
    top:0;
    width:100%;
}

.header_title {
    padding-left: 10px;
    padding-right: 10px;
    line-width:40px;
    height:40px;
    color: #f5eec2;
    font-family: Sriracha;
    font-size: 25px;
    float: left;
    text-decoration: none;
}

.header_title:hover {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #d1c89a;
    background-color: #171726;
}

.header_link {
    margin:0px;
    padding:0px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
    color: #f5eec2;
    font-size: 25px;
    margin-left:auto;
    float: right;
}

.header_link:hover {
    color: #c2cca0;
}

html {
    height: 100%;
    min-height: 100%;
}

.body_container {
    margin-top: 45px;
    height: 100%;
}

/* index */

.index_entry {
    color:black;
    background:white;
    margin:0.2%;
    border-radius:5px;
    width:32.9%;
    float:left;
    height:110px;
    border: solid;
    border-width: thin;
    border-color: darkgrey;
}

.index_entry:hover {
    background:#cccccc;
}

.index_title {
    background-color:#eeeeee; /*#2F70AF;*/
    color:black; /*white;*/
    margin:0;
    padding-left:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* show */

.show_entry {
    background-color:white;
    margin:5px;
    border-radius:5px;
    padding:20px;
    width:49.3%;
    float:left;
    border:solid;
    border-color:darkgrey;
    border-width: thin;
}

.translation {
    background-color:white;
    margin:5px;
    border-radius:5px;
    padding:10px;
    margin-left: 50%;
    width:49%;
    float:right;
    position: fixed;
    height:20%;
    border:solid;
    border-color:darkgrey;
    border-width: thin;
}

.rules {
    background-color:white;
    margin:5px;
    margin-top:10.5%;
    border-radius:5px;
    padding:10px;
    margin-left: 50%;
    width:49%;
    float:right;
    position:fixed;
    overflow-y: scroll;
    height:68%;
    border:solid;
    border-color:darkgrey;
    border-width: thin;
}

.show_footer {
    margin:0px;
    padding:5px;
    position:fixed;
    background-color:grey;width:100%;
    bottom: 0;
}

.show_footer_link {
    margin: 0px;
    height: 25px;
    padding:0px;
    margin-right: 5px;
    float: left;
    padding-left:5px;
    padding-right:5px;
    font-size: 15px;
}

.show_footer_audio {
    height: 25px;
    float: left;
}

/* choice selection */

.selection_section {
    margin: 20px;
}

/* create */

.create_section {
    margin: 20px;
}

.create_warning {
    color:red;
    font-weight:bold;
}


/* Menu chat-gpt-4 */

.dropdown {
    color: #f5eec2;
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_button {
    font-family: sans-serif, Arial, Helvetica;
    height: 40px;
    background-color: #39395f;
    line-height: 40px;
    color: #f5eec2;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_button:hover {
    background-color: #171726;
    color: #d1c89a;
}

