{% extends "gapfiller/layout.html" %}
{% block body %}
    <script>
        start_dialog = {
            bubble : "Hi!",
            options : [],
        }
        var id_to_dialog = {
            "start": start_dialog,
        };

        var image = null;

        localStorage.setItem("name","no name");

        localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));

        var current_dialog = "start";

        function setCurrentDialog() {
            bubble_content = id_to_dialog[current_dialog].bubble;
            document.getElementById('bubble').value = bubble_content;
        }

        function setSelection() {
            selection = document.getElementById('selection');
            selection.innerHTML="";
            sel = document.createElement("option");
            sel.innerHTML = "choose target";
            selection.append(sel)
            for( var key in id_to_dialog){
                if (key === current_dialog) {
                    continue;
                }
                sel = document.createElement("option");
                sel.innerHTML = key;
                selection.append(sel);
            }
        }

        function generateTextarea(content) {
            const area = document.createElement("textarea");
            area.innerHTML = content;
            area.rows = "2";
            area.style.borderRadius = "5px";
            area.style.width = "99%";
            return area;
        }

        function setOptions() {
            console.log(current_dialog);
            current_options = id_to_dialog[current_dialog].options;
            options = document.getElementById('options');
            options.innerHTML = `
            <tr>
                <th> option </th>
                <th> target </th>
                <th> acquires </th>
                <th> requires </th>
                <th> deactivates </th>
                <th> delete </th>
            </tr>`;
            console.log(current_options)
            current_options.forEach( option => {
                var row = options.insertRow(-1);
                var cell = row.insertCell(0);
                area = generateTextarea(option.content);
                area.onkeyup = event => {
                    idx = id_to_dialog[current_dialog].options.indexOf(option);
                    console.log(idx);
                    id_to_dialog[current_dialog].options[idx].content = event.target.value;
                    localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
                }
                cell.append(area);
                //cell.innerHTML = `<textarea cols="140" rows="2" style="border-radius:5px;">${option.content}</textarea>`;
                var cell = row.insertCell(1);
                cell.innerHTML = option.selection;
                var cell = row.insertCell(2);
                cell.innerHTML = "to be implemented";
                var cell = row.insertCell(3);
                cell.innerHTML = "to be implemented";
                var cell = row.insertCell(4);
                cell.innerHTML = "to be implemented";
                var cell = row.insertCell(5);
                img = document.createElement("img");
                img.src = "/media/delete.png";
                img.style.width = "20px";
                img.onclick = event => {
                    const index = current_options.indexOf(option);
                    id_to_dialog[current_dialog].options.splice(index,1);
                    console.log(id_to_dialog[current_dialog])
                    localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
                    setOptions();
                }
                cell.append(img);
            });
        }

        function createDialogIds() {
            dialogs = document.getElementById('dialogs');
            dialogs.innerHTML = "";
            for(var key in id_to_dialog) {
                let dialog = document.createElement("div");
                dialog.style.color = "black";
                dialog.style.borderRadius = "5px";
                dialog.style.paddingLeft = "5px";
                dialog.innerHTML = key;
                dialog.dataset.id = key;
                if(key === current_dialog){
                    dialog.style.background = "#f5eec2";
                }

                dialog.onclick = (event) => {
                    current_dialog = event.target.dataset.id;
                    c_d = document.getElementById("current_dialog");
                    c_d.innerHTML = "Current dialog: " + current_dialog;
                    createDialogIds();
                    setSelection();
                    setOptions();
                    setCurrentDialog();
                };

                dialogs.append(dialog);
            }
        }

        function send_dialog() {
            fetch('dialog', {
                method: 'POST',
                body: JSON.stringify({
                    id_to_dialog
                })

            })
            .then(response => response.json())
            .then(result => {
                // Print result
                console.log(result);
            });
        }
        function getBase64Image(img) {
            var canvas = document.createElement("canvas");
            canvas.width = img.naturalWidth;
            canvas.height = img.naturalHeight;

            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            var dataURL = canvas.toDataURL("image/png");

            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

        function setImage() {

                 if( !image ){
                    return;
                 }

                var img = document.createElement("img");
                img.src = URL.createObjectURL(image);
                img.style.width = "50%";
                img.position = "relative";
                img.style.marginLeft= "auto";
                img.style.marginRight= "auto";
                img.style.display= "block";
                portrait = document.getElementById('portrait');
                portrait.innerHTML="";
                portrait.append(img);
                img.onload = function(){
                    imgData = getBase64Image(this);
                    localStorage.setItem("image",imgData);
                }
        }

        function setImageFromStore(){
            var dataImage = localStorage.getItem('image');
            console.log(dataImage);
            if(dataImage == 'null') {
                  return null;
            }
            var img = document.createElement("img");
            img.src = "data:image/png;base64," + dataImage;
            img.style.width = "50%";
            img.position = "relative";
            img.style.marginLeft= "auto";
            img.style.marginRight= "auto";
            img.style.display= "block";
            portrait = document.getElementById("portrait");
            portrait.innerHTML="";
            portrait.append(img);
        }

        function setName(){
            name = document.getElementById("char_name").value;
            localStorage.setItem("name",name);
        }

        function createChar(){
            id = document.getElementById("id_storage").dataset.sceneid;
            let formData = new FormData()
            formData.append('image', image)
            formData.append('name', name)
            formData.append(
                'id_to_dialog',
                JSON.stringify(id_to_dialog)
            );
            fetch('/create_character/' + id, {
                method: 'POST',
                body: formData
            })
        }


        function updateChar(){
            id = document.getElementById("id_actor").dataset.actorid;
            let formData = new FormData();
            formData.append('name', name)
            formData.append(
                'id_to_dialog',
                JSON.stringify(id_to_dialog)
            );
            fetch('/update_character/' + id, {
                method: 'POST',
                body: formData
            })
        }


        document.addEventListener( "DOMContentLoaded", () => {

            actor_id = document.getElementById("id_actor");
            if ( actor_id ) {
                id = actor_id.dataset.actorid;
                fetch('/get_actor_info/' + id, {
                    method: 'GET',
                }).then(response => response.json())
                .then(actor_info => {
                    id_to_dialog = actor_info;
                    setName();
                    console.log(id_to_dialog);
                    createDialogIds();
                    setCurrentDialog();
                    setSelection();
                    setOptions();
                    localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
                    //setImageFromStore();
                });
            }
            createDialogIds();
            setCurrentDialog();
            setSelection();
            setOptions();
            //setImageFromStore();

            /*
            bubble_button = document.getElementById('update_bubble')
            bubble_button.onclick = () => {
                bubble_content = document.getElementById('bubble_content').value;
                document.getElementById('bubble').innerHTML = bubble_content;
                id_to_dialog[current_dialog].bubble = bubble_content;
                localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
            };
            */
            bubble = document.getElementById('bubble');
            bubble.onchange = event => {
                id_to_dialog[current_dialog].bubble = event.target.value;
                console.log(id_to_dialog);
                localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
            }
            create_option = document.getElementById('create_option')
            create_option.onclick = () => {
                sel = document.getElementById('selection').value;
                option_content = document.getElementById('option_content').value;
                var option = {
                    content: option_content,
                    selection: sel,
                }
                id_to_dialog[current_dialog].options.push(option);
                setOptions();
                localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
            };

            new_dialog = document.getElementById('new_dialog');
            new_dialog.onclick = () => {
                content = document.getElementById('dialog_content').value;
                empty_dialog = {
                    bubble: "",
                    options: [],
                }
                id_to_dialog[content] = empty_dialog;
                createDialogIds();
                setSelection();
                localStorage.setItem("id_to_dialog",JSON.stringify(id_to_dialog));
            }

            show_dialog = document.getElementById('dialog');
            show_dialog.onclick = () => {
                send_dialog();
            }

            create_char = document.getElementById('create_char');
            if(create_char) {
                create_char.onclick = () => {
                    createChar();
                }
            }

            update_char = document.getElementById('update_char');
            if(update_char) {
                update_char.onclick = () => {
                    updateChar();
                }
            }

            image_input = document.getElementById('avatar');
            image_input.oninput = function (event) {
                image = event.target.files[0];
                setImage()
                console.log(image)
            }
            char_name = document.getElementById('char_name');
            char_name.onchange = () => {
                setName();
                console.log(localStorage.getItem("name"));
            }
        });
    </script>
    {% if scene_id %}
        <div id="id_storage" data-sceneid="{{ scene_id }}"></div>
    {% endif %}
    {% if actor_id %}
        <div id="id_actor" data-actorid="{{ actor_id }}"></div>
    {% endif %}
    <div class="actor_title">
            <h1> Create new character</h1>
    </div>
    <div class="create_section">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        <div>
            {% csrf_token %}
            <div class="left_actor_box">
                <div class="inner_box">
                    <div>
                        <h4 id="current_dialog" style="margin:0px;margin-left:5px;">Current dialog: start</h4>
                    </div>
                    <div style="background:white;
                                padding:0px;
                                border-radius:5px;
                                color:black;
                                margin:5px;
                                margin-top:2px;
                                min-height:50px;"
                    >
                        <textarea id="bubble"
                              style="width:100%;
                                     margin:0px;
                                     border-radius:5px;
                                    "
                        ></textarea>
                    </div>
                    <div style="background: white;
                                color:black;
                                margin:5px;
                                border-radius:5px;
                                padding:5px;"
                    >
                        <table style="width:100%;" id="options">
                        </table>
                    </div>
                    <div class="form-group" style="margin:0px;padding:5px;color:black;display:flex">
                            <input autofocus class="form-control" style="width:80%;"
                                   id="option_content"
                                   type="text"
                                   name="name"
                                   placeholder="Choose content of option"
                            >
                            <select style="width:10%;border-radius:5px;" id="selection">
                            </select>
                            <div class="btn btn-secondary" id="create_option" style="font-size:13px;width:10%;margin-top:0px;">
                                create option
                            </div>
                    </div>
                    <div style="margin:5px;">
                        <a class="btn btn-secondary"
                           style="width:100%; margin-bottom: 5px;"
                           type="submit"
                           id="dialog"
                           href="{% url 'dialog'  %}"
                           value="Create character">
                            Test dialog
                        </a>
                        {% if not actor_id %}
                            <a class="btn btn-secondary"
                                style="width:100%;"
                                type="submit"
                                id="create_char"
                                href="{% url 'update_story_scene' story_id scene_id %}"
                                value="Create character">
                                Create Character
                            </a>
                        {% endif %}
                        {% if actor_id %}
                            <a class="btn btn-secondary"
                                style="width:100%;"
                                type="submit"
                                id="update_char"
                                href="{% url 'update_story_scene' story_id scene_id %}"
                                value="Update character">
                                Update Character
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="right_actor_box">
                <div class="inner_box">
                    <div class="name_box">
                        <h4 style="margin:0px;">Name</h4>
                        <div class="form-group" style="margin:0px;">
                            {% if name %}
                            <input autofocus class="form-control"
                                   type="text"
                                   name="name"
                                   id="char_name"
                                   value="{{ name }}"
                                >
                            {% else %}
                                <input autofocus class="form-control"
                                   type="text"
                                   name="name"
                                   id="char_name"
                                   placeholder="Choose the name of the character"
                                >
                            {% endif %}
                        </div>
                    </div>
                    <div class="inner_box">
                        <h4 style="margin:0px;">Image</h4>
                        <div id="portrait">
                            {% if image %}
                                <img src="{{ image.url }}"
                                     style="width:50%;
                                            position:relative;
                                            margin-left:auto;
                                            margin-right:auto;
                                            display:block;"
                                >
                            {% endif %}
                        </div>
                        <input type="file"
                            id="avatar" name="avatar"
                           accept="image/png, image/jpeg">
                    </div>
                    <div class="dialog_box">
                        <div style=
                                "border-top-right-radius:5px;
                                border-top-left-radius:5px;
                                margin-top:5px;"
                        >
                            <h4 style="margin:0px;">Dialogs</h4>
                        </div>
                        <div class="dialog_selection" id="dialogs">
                        </div>
                        <div class="form-group add_dialog">
                            <input autofocus class="form-control"
                                   id="dialog_content"
                                   type="text"
                                   name="name"
                                   placeholder="Choose new dialog title"
                            >
                            <div    id="new_dialog"
                                    class="btn btn-secondary"
                                    style="font-size:13px;width:37%"
                            >
                                add dialog
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}