{% extends "gapfiller/layout.html" %}
{% block body %}
    <script>
        document.addEventListener( "DOMContentLoaded", () => {
            bubble_button = document.getElementById('update_bubble')
            bubble_button.onclick = () => {
                bubble_content = document.getElementById('bubble_content').value;
                console.log(bubble_content);
                document.getElementById('bubble').innerHTML = bubble_content;
            };
            create_option = document.getElementById('create_option')
            create_option.onclick = () => {
                selection = document.getElementById('selection').value;
                option_content = document.getElementById('option_content').value;
                options = document.getElementById('options');
                var row = options.insertRow(-1);
                var cell = row.insertCell(0);
                cell.innerHTML = option_content;
                var cell = row.insertCell(1);
                cell.innerHTML = selection;


            };
        });
    </script>
    <div class="actor_title">
            <h1> Create new character</h1>
    </div>
    <div class="create_section">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        <form action="{% url 'actor' %}" method="post">
            {% csrf_token %}
            <div class="left_actor_box">
                <div class="inner_box">
                    <div>
                        <h4 style="margin:0px;margin-left:5px;">Current dialog: start</h4>
                    </div>
                    <div style="background:white;
                                padding:0px;
                                padding-left:5px;
                                border-radius:5px;
                                color:black;
                                margin:5px;
                                margin-top:2px;
                                min-height:50px;";
                    >
                        <p id="bubble">
                            Hello how can i help you?
                        </p>
                    </div>
                    <div class="form-group" style="margin:0px;padding:5px;color:black;display:flex">
                            <input autofocus class="form-control" style="width:90%;"
                                   type="text"
                                   name="name"
                                   id="bubble_content"
                                   placeholder="Choose content of speech bubble"
                            >
                            <div class="btn btn-secondary" id="update_bubble" style="font-size:13px;width:10%;margin-top:0px;">
                                update bubble
                            </div>
                    </div>
                    <div style="background: white;
                                color:black;
                                margin:5px;
                                border-radius:5px;
                                padding:5px;"
                    >
                        <table style="width:100%;" id="options">
                            <tr>
                                <th>
                                    option
                                </th>
                                <th>
                                    target
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Wir könnten eine Bank ausrauben.
                                <td>
                                    end
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group" style="margin:0px;padding:5px;color:black;display:flex">
                            <input autofocus class="form-control" style="width:80%;"
                                   id="option_content";
                                   type="text"
                                   name="name"
                                   placeholder="Choose content of option"
                            >
                            <select style="width:10%;border-radius:5px;" id="selection">
                                <option>
                                    choose target
                                </option>
                                <option>
                                    Test
                                </option>
                                <option>
                                    Test2
                                </option>
                            </select>
                            <div class="btn btn-secondary" id="create_option" style="font-size:13px;width:10%;margin-top:0px;">
                                create option
                            </div>
                    </div>
                    <div style="margin:5px;">
                        <input class="btn btn-secondary" style="width:100%;" type="submit" value="Create character">
                    </div>
                </div>
            </div>
            <div class="right_actor_box">
                <div class="inner_box">
                    <div class="name_box">
                        <h4 style="margin:0px;">Name</h4>
                        <div class="form-group" style="margin:0px;">
                            <input autofocus class="form-control"
                               type="text"
                               name="name"
                               placeholder="Choose the name of the character"
                            >
                        </div>
                    </div>
                    <div class="dialog_box">
                        <div style=
                                "border-top-right-radius:5px;
                                border-top-left-radius:5px;
                                margin-top:5px;">
                            <h4 style="margin:0px;">Dialogs</h4>
                        </div>
                        <div class="dialog_selection">
                            <div style="background:#f5eec2;margin:0px;padding:0px;border-radius: 5px;">
                                <a href="#">Start</a>
                            </div>
                            <a href="#">About Luigi</a><br>
                            <a href="#">About Mario</a>
                        </div>
                        <div class="form-group add_dialog">
                            <input autofocus class="form-control"
                                type="text"
                                name="name"
                                placeholder="Choose new dialog title"
                            >
                            <button
                                    class="btn btn-secondary"
                                    style="font-size:13px;width:37%"
                            >
                                add dialog
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}