{% extends "gapfiller/layout.html" %}
{% block body %}
    <script>
        background = null;

        function update_pos_scale(actor){
            z = actor.style.top;
            left = actor.style.left;
            scale = actor.style.transform;
            id = actor.dataset.charid;
            let formData = new FormData();
            formData.append('top', z);
            formData.append('left', left);
            formData.append('scale', scale);
            fetch('/set_character_pos_scale/' + id, {
               method: 'POST',
               body: formData
            })
        }

        function zoom(event) {
            target = event.target
            let scale = target.getBoundingClientRect().width / target.offsetWidth;
            event.preventDefault();


            scale += event.deltaY * -0.0001;

            // Restrict scale
            scale = Math.min(Math.max(.05, scale), 4);

            // Apply scale transform
            event.target.style.transform = `scale(${scale})`;
            update_pos_scale(event.target);
        }


        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                // if present, the header is where you move the DIV from:
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                // otherwise, move the DIV from anywhere inside the DIV:
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement(e) {
                // stop moving when mouse button is released:
                document.onmouseup = null;
                document.onmousemove = null;
                console.log("HERE");
                console.log(e.target.style.top);
                update_pos_scale(e.target);
            }
        }

        function setBackground() {

                 if( !background ){
                    return;
                 }

                var img = document.createElement("img");
                img.src = URL.createObjectURL(background);
                img.style.width = "800px";
                img.style.height = "600px";
                img.position = "relative";
                img.style.borderRadius = "5px";
                bg = document.getElementById('bg');
                bg.innerHTML="";
                bg.append(img);
                img.onload = function(){
                    /*imgData = getBase64Image(this);
                    localStorage.setItem("bg",imgData);*/
                }
        }

        function place_actor(actor) {
            console.log(actor.dataset)
            console.log(actor.dataset.top)
            actor.style.transform = actor.dataset.scale;
            actor.style.top = actor.dataset.top;
            actor.style.left = actor.dataset.left;
        }


        document.addEventListener( "DOMContentLoaded", () => {
            document.querySelectorAll(".actor").forEach( actor => {
                place_actor(actor);
                actor.onwheel = zoom;
                dragElement(actor);
            })

            right_box = document.getElementById("right_box");
            console.log(`${window.innerHeight - 820}px`);
            right_box.style.width = `${window.innerWidth - 860}px`;

            //handle story name
            na = document.getElementById("story_name");
            na.onchange = event => {
                id = document.getElementById("bg").dataset.storyid;
                console.log(id);
                let formData = new FormData();
                formData.append('name', event.target.value);
                fetch('/set_story_name/' + id, {
                    method: 'POST',
                    body: formData
                });
            }

            //handle scene name
            na = document.getElementById("name");
            na.onchange = event => {
                id = document.getElementById("bg").dataset.sceneid;
                let formData = new FormData();
                formData.append('name', event.target.value);
                fetch('/set_scene_name/' + id, {
                    method: 'POST',
                    body: formData
                });
            }

            //handle description
            desc = document.getElementById("description");
            desc.onchange = event => {
                id = document.getElementById("bg").dataset.sceneid;
                let formData = new FormData();
                formData.append('description', event.target.value);
                fetch('/set_scene_description/' +id, {
                    method: 'POST',
                    body: formData
                });
            }

            //handle background
            background_input = document.getElementById("bgi");
            background_input.oninput = function (event) {
                id = document.getElementById("bg").dataset.sceneid;
                background = event.target.files[0];
                setBackground();
                let formData = new FormData()
                formData.append('image', background)
                fetch('/background/' + id, {
                    method: 'POST',
                    body: formData
                })
            }


        });
    </script>
    <div class="actor_title">
            <h1> Create new Langventure</h1>
    </div>


    <div class="create_section" style="min-height:100%;">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        {% for actor in current_scene.actors.all %}
                <img class="actor"
                     src="{{ actor.image.url }}"
                     data-scale="{{ actor.scale }}"
                     data-top="{{ actor.top }}"
                     data-left="{{ actor.left }}"
                     data-charid = "{{ actor.id }}"
                     style="position:absolute; margin-top:0px;">
        {% endfor %}

        <div>
            {% csrf_token %}
            <div class="left_actor_box"
                 id="bg"
                 data-sceneid="{{ current_scene_id }}"
                 data-storyid="{{ story.id }}"
                 style="width:800px;background:#39395f;color:#f5eec2;">
                {% if current_scene.background %}
                    <img src="{{ current_scene.background.url }}" style="width:800px;height:600px;border-radius:5px;">
                {% endif %}
                <div style="padding:5px;">
                    <label for="story_name"> Story title </label>
                    <input type="text" id="story_name" style="width:100%;border-radius:5px;" value="{{story.name}}">
                </div>
            </div>
            <div class="right_actor_box" id="right_box" style="margin:0px">
                <div class="inner_box" style="padding:5px;width:49%;display:inline-block;margin:0px;">
                     <h4>Sence name</h4>
                     <input type="text"
                            id="name"
                            style="margin-top:-5px; margin-bottom:5px; border-radius:5px;width:100%"
                            value="{{ current_scene.name }}"
                     >
                    <h4>Sence description</h4>
                     <textarea
                            id="description"
                            rows="3"
                            style="margin-top:-5px; margin-bottom:5px; border-radius:5px; width:100%; rows:3;"
                     >{{current_scene.description}}</textarea>
                    <h4>background</h4>
                     <input type="file"
                            id="bgi" name="bgi"
                            accept="image/png, image/jpeg"
                     >
                    <div>
                        <h4>Select Scene</h4>
                        {% for scene in story.scenes.all %}
                            <div class="btn btn-secondary" style="width:100%">{{scene.name}}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="inner_box" style="padding:5px;width:49%;display:inline-block;vertical-align:top;margin:0px;">
                    <div>
                        <h4>To edit a character click on him</h4>
                        <div style="background:white;color:black;border-radius:5px;">
                            {% for actor in current_scene.actors.all %}
                                <div style="width:100%">{{ actor.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="btn btn-secondary" style="width:100%" href="{% url 'actor' current_scene.id %}">
                        add new character
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}