{% extends "gapfiller/layout.html" %}
{% block body %}
    <script>
        background = null;

        function setBackground() {

                 if( !background ){
                    return;
                 }

                var img = document.createElement("img");
                img.src = URL.createObjectURL(background);
                img.style.width = "100%";
                img.style.height = "85%";
                img.position = "relative";
                img.style.borderRadius = "5px";
                bg = document.getElementById('bg');
                bg.innerHTML="";
                bg.append(img);
                img.onload = function(){
                    /*imgData = getBase64Image(this);
                    localStorage.setItem("bg",imgData);*/
                }
        }

        document.addEventListener( "DOMContentLoaded", () => {
            background_input = document.getElementById("bgi");
            background_input.oninput = function (event) {
                background = event.target.files[0];
                setBackground();
                fetch('/background/', {
                    method: 'POST',
                    body: JSON.stringify({
                        body: background,
                    })
                })

            }
        });
    </script>
    <div class="actor_title">
            <h1> Create new Langventure</h1>
    </div>
    <div class="create_section" style="min-height:100%;">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        <div style="min-height:100%">
            {% csrf_token %}
            <div class="left_actor_box"
                 id="bg"
                 style="background:black;min-height:85%;">
            </div>
            <div class="right_actor_box">
                <div class="inner_box">
                     <input type="file"
                            id="bgi" name="bgi"
                            accept="image/png, image/jpeg"
                     >
                    <div style="padding:5px;">
                        <h4>Select Scene</h4>
                        {% for scene in story.scenes.all %}
                            <div class="btn btn-secondary" style="width:100%">{{scene.name}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}