{% extends "gapfiller/layout.html" %}
{% load static %}
{% block body %}
    <script type="text/javascript" src="{% static 'story/create_story.js' %}"></script>
    <div class="actor_title">
            <h1> Create new Langventure</h1>
    </div>


    <div class="create_section" style="min-height:100%;">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        {% for actor in current_scene.actors.all %}
                <img class="actor"
                     src="{{ actor.image.url }}"
                     data-scale="{{ actor.scale }}"
                     data-top="{{ actor.top }}"
                     data-left="{{ actor.left }}"
                     data-charid = "{{ actor.id }}"
                     style="position:absolute; margin-top:0px;">
        {% endfor %}

        {% for collectible in current_scene.collectibles.all %}
                <img class="collectible"
                     src="{{ collectible.image.url }}"
                     data-scale="{{ collectible.scale }}"
                     data-top="{{ collectible.top }}"
                     data-left="{{ collectible.left }}"
                     data-charid = "{{ collectible.id }}"
                     style="position:absolute; margin-top:0px;">
        {% endfor %}

        <div>
            {% csrf_token %}
            <div class="left_actor_box"
                 id="bg"
                 data-sceneid="{{ current_scene_id }}"
                 data-storyid="{{ story.id }}"
                 style="width:800px;background:#39395f;color:#f5eec2;">
                {% if current_scene.background %}
                    <img src="{{ current_scene.background.url }}" style="width:800px;height:600px;border-radius:5px;">
                {% else %}
                    <img style="width:800px;height:600px;border-radius:5px;background:black">
                {% endif %}
                <div style="padding:5px;">
                    <label for="story_name"> Story title </label>
                    <input type="text" id="story_name" style="width:100%;border-radius:5px;" value="{{story.name}}">
                    <input type="text" id="story_description" style="width:100%;border-radius:5px;" value="{{story.description}}">
                    <div id="publish" class="btn btn-secondary" style="width:100%;margin-top:3px;">
                        publish story
                    </div>
                </div>

            </div>
            <div class="right_actor_box" id="right_box" style="margin:0px">
                <div class="inner_box" style="padding:5px;width:49%;display:inline-block;margin:0px;">
                     <h4>Sence name</h4>
                     <input type="text"
                            id="name"
                            style="margin-top:-5px; margin-bottom:5px; border-radius:5px;width:100%"
                            value="{{ current_scene.name }}"
                     >
                    <h4>Sence description</h4>
                     <textarea
                            id="description"
                            rows="3"
                            style="margin-top:-5px; margin-bottom:5px; border-radius:5px; width:100%; rows:3;"
                     >{{current_scene.description}}</textarea>
                    <h4>background</h4>
                     <input type="file"
                            id="bgi" name="bgi"
                            accept="image/png, image/jpeg"
                     >
                    <h4>Knowledge items</h4>
                    <div>
                        <div style="background:white; color:black;padding:3px;border-radius:5px;">
                            {% for item in story.knowledge_items.all %}
                                 {{item.item}}
                            {% endfor %}
                        </div>
                        <h5>Requires</h5>
                        <div id="display_req" style="background:white; color:black;padding:3px;border-radius:5px;margin-bottom:3px">
                            None
                        </div>
                        <div class="d-flex">
                            <select id="requires" name="requires" class="form-control">
                            <option value="">None</option>
                                {% for item in story.knowledge_items.all %}
                                <option value="{{item.item}}">{{item.item}}</option>
                                {% endfor %}
                            </select>
                            <div id="add_req" class="btn btn-secondary btn-sm">add</div>
                        </div>
                        <h5>Deactivates</h5>
                        <div id="display_dea" style="background:white; color:black;padding:3px;border-radius:5px;margin-bottom:3px">
                            None
                        </div>
                        <div class="d-flex">
                            <select id="deactivates" name="deactivates" class="form-control">
                            <option value="">None</option>
                                {% for item in story.knowledge_items.all %}
                                <option value="{{item.item}}">{{item.item}}</option>
                                {% endfor %}
                            </select>
                            <div id="add_dea" class="btn btn-secondary btn-sm">add</div>
                        </div>
                    </div>
                    <h4>Select Scene</h4>
                    <div id="all_scenes" style="background:white;border-radius:5px;color:black;padding:5px;">
                        {% for scene in story.scenes.all %}
                            {% if scene.name == current_scene.name %}
                                <div style="width:100%;background:#f5eec2;border-radius:5px;">
                                    <a class="scene_selection"
                                        href="{% url 'update_story_scene' story.id scene.id %}"
                                        style="width:50%;background:#f5eec2;"
                                        data-sceneid="{{ scene.id }}"
                                    >
                                    {{scene.name}}
                                    </a>
                                </div>
                            {% else %}
                                <div>
                                    <a class="scene_selection"
                                    href="{% url 'update_story_scene' story.id scene.id %}"
                                    style="width:100%"
                                    data-sceneid="{{ scene.id }}"
                                    >
                                        {{scene.name}}
                                    </a>
                                    <img src="/media/delete.png"
                                         width="20px"
                                         class="del_scene"
                                         data-sceneid="{{ scene.id }}"
                                         style="float:right"
                                    >
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <input type="text"
                           id="scene_name"
                           placeholder="choose new scene name"
                           style="width:100%"
                    >
                    <div class="btn btn-secondary"
                         id="add_scene"
                         style="width:100%;margin-top:5px;"
                    >
                        add new scene
                    </div>
                </div>
                <div class="inner_box" style="padding:5px;width:49%;display:inline-block;vertical-align:top;margin:0px;">
                    <div>
                        <h4>To edit a character click on him</h4>
                        <div style="background:white;color:black;border-radius:5px;width=100%;padding:5px;">
                            {% for actor in current_scene.actors.all %}
                            <div>
                                {% if actor.name %}
                                    <a href="{% url 'edit_actor' actor.id %}" style="width:100%">{{ actor.name }}</a>
                                {% else %}
                                    <a href="{% url 'edit_actor' actor.id %}" style="width:100%">No Name</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a class="btn btn-secondary" style="width:100%;margin-top:5px;" href="{% url 'actor' current_scene.id %}">
                        add new character
                    </a>

                    <div style="margin-top:20px;">
                        <h4>To update collectible click on it</h4>
                        <div style="background:white;color:black;border-radius:5px;width=100%;padding:5px;">
                            {% for collectible in current_scene.collectibles.all %}
                            <div>
                                {% if collectible.name %}
                                    <a href="#" style="width:100%">{{ collectible.name }}</a>
                                {% else %}
                                    <a href="#" style="width:100%">No Name</a>
                                {% endif %}
                            </div>
                            {% empty %}
                                None
                            {% endfor %}
                        </div>
                        <a class="btn btn-secondary" style="width:100%" href="{% url 'collectible' current_scene.id %}">Add new Collectible</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}