{% extends "gapfiller/layout.html" %}
{% load static %}
{% block body %}
    <script type="text/javascript" src="{% static 'story/show.js' %}"></script>

    <div id="story_id" data-storyid="{{ story.id }}"></div>
    <div id="scene_id" data-sceneid="{{ current_scene.id }}"></div>

    {% for item in knowledge_items %}
        <div class="knowledge_item" data-item="{{ item.item }}"></div>
    {% endfor %}

    <div class="actor_title">
            <h1>{{ story.name }}</h1>
    </div>


    <div class="create_section" style="min-height:100%;">

        {% if message %}
            <div class="create_warning"> <p>{{ message }}</p> </div>
        {% endif %}

        {% for actor in current_scene.actors.all %}
                <img class="actor"
                     src="{{ actor.image.url }}"
                     data-scale="{{ actor.scale }}"
                     data-top="{{ actor.top }}"
                     data-left="{{ actor.left }}"
                     data-charid = "{{ actor.id }}"
                     style="position:absolute; margin-top:0px;">
        {% endfor %}

        <div>
            {% csrf_token %}
            <div class="left_actor_box"
                 id="bg"
                 data-sceneid="{{ current_scene_id }}"
                 style="background:black; width:800px">
                <img src="{{ current_scene.background.url }}" style="width:800px;height:600px;border-radius:5px;">
            </div>
            <div class="right_actor_box" id="dialog_field">
                <div class="inner_box" style="padding:5px;height:600px">

                    <div id="description_box"
                         style="background:white;margin:5px;border-radius:5px;color:black;padding:5px"
                    >
                        {{ current_scene.description }}
                    </div>
                    <div id="hide" style="display:none">
                    <div style="padding-left:5px;">
                        <h4 id="name"></h4>
                    </div>
                    <div id="bubble"
                         style="background:white;margin:5px;border-radius:5px;color:black;padding:5px"
                    >
                    </div>
                    <div style="padding-left:5px;">
                        <h4 id="answere">Choose your answere:</h4>
                    </div>
                    <div>
                        <div id="options" style="background:white;margin:5px;border-radius:5px;color:black;padding:5px">
                        </div>
                    </div>
                    <div style="padding-left:5px;">
                        <h4 id="translation_title">Click on a word to get for a translation</h4>
                    </div>
                    <div id="translation" style="background:white;margin:5px;border-radius:5px;color:black;padding:5px">
                        endless<br>
                        nothing selected
                    </div>
                    </div>
                </div>
            </div>
            <div>
                <h4>Switch Scene</h4>
                {% for scene in activated_scenes %}
                    {% if scene.id == current_scene.id %}
                        <a href="{% url 'story_scene' story.id scene.id %}" class="btn btn-primary">{{scene.name}}</a>
                    {% else %}
                        <a href="{% url 'story_scene' story.id scene.id %}" class="btn btn-secondary">{{scene.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}