{% extends "gapfiller/layout.html" %}
{% load static %}
{% block body %}
    <div class="selection_section">
        <h2>Select which type of gaps you want to practice</h2>
        <form action="{% url 'choice_selection' id %}" method="post">
            {% csrf_token %}
            {% for selection in selections %}
                <input type="checkbox" id="vehicle1" name="{{ selection.name }}" value="{{ selection.name }}">
                <label for="{{ selection.name }}">{{ selection.name }}</label><br>
            {% endfor %}
            <input class="btn btn-secondary" type="submit" value="Create exercise">
        </form>
    </div>
{% endblock %}