{% load static %}
<html lang="en">
<head>
    <link
        rel="stylesheet"
        href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'gapfiller/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'gapfiller/story.css' %}">
    <title>Langventure</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'index' %}" class="header_title">
            Langventure
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"
               style="float:right;
                      font-family: sans-serif, Arial, Helvetica;
                      font-size:16px;
                      line-height:40px;
                      text-decoration:none;
                      font-weight:100;"
               class="header_title">
                Logout {{ user.get_username }}
            </a>

            <div class="dropdown" style="float: right;">
                <button class="dropdown_button">Create new exercise</button>
                <div class="dropdown_content">
                    <a href="{% url 'create' %}">Create new Gapfiller</a>
                    <a href="{% url 'create_story' %}">Create new Langventure</a>
                    <a href="{% url 'update_menu' %}">Update Langventure</a>
                </div>
            </div>

            <form id="language-form" method="post" action="{% url 'change_languages' %}" style="float: right;">
            {% csrf_token %}
            <div class="header-dropdown">
                <label for="dest_language">Target Language:</label>
                <select name="dest_language" id="dest_language" onchange="this.form.submit();">
                    {% for language in languages %}
                    <option value="{{ language.pk }}" {% if user.dest_language == language %}selected{% endif %}>
                        {{ language.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="header-dropdown">
                <label for="org_language">Mother Language:</label>
                <select name="org_language" id="org_language" onchange="this.form.submit();">
                    {% for language in languages %}
                    <option value="{{ language.pk }}" {% if user.org_language == language %}selected{% endif %}>
                        {{ language.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            </form>

        {% endif %}
    </div>

    <div class="body_container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>