{% extends "gapfiller/layout.html" %}
{% load static %}
{% block body %}
    <script>
        function set_translation(id){
            fetch(`/display_update/${id}`)
            .then( response => response.json())
            .then( data => {
                    document.querySelector("#translation").innerHTML = data.translation;
                    document.querySelector("#word_translation").innerHTML = data.word_translation;
                    var rules = ""
                    data.rules.forEach(rule => {
                        rules += "<p> " + rule + "</p> "
                    });
                    document.querySelector('#rules').innerHTML = rules;
                }
            );
        }

        document.addEventListener('DOMContentLoaded', () => {
            var recent_rule = null
            document.querySelectorAll('.choice').forEach(
                choice => {
                    choice.addEventListener('click', function(event) {
                        const target = event.target
                        if ( event.target.value === event.target.dataset.correct ) {
                            event.target.value = event.target.options[1].value;
                        }
                        if (recent_rule){
                            document.querySelector(`#${recent_rule}`).style.display = false;
                        }
                        recent_rule = event.target.dataset.rule_name
                        //console.log(recent_rule)
                        //console.log(`#${recent_rule}`)
                        //document.querySelector(`#${recent_rule}`).style.display = "block";
                        set_translation(target.dataset.token_id)
                    });

                    choice.addEventListener('change', function(event) {
                        const target = event.target;
                        if ( target.value === target.dataset.correct ) {
                            target.style.color = "green";
                            target.disabled = "true";
                        }else {
                            target.style.color = "red";
                        }
                    })
            });
            var last_token = null
            document.querySelectorAll('#normal_token').forEach( token => {
                token.onclick = (event) => {
                    if(last_token){
                        last_token.style = "black";
                    }
                    last_token = event.target;
                    event.target.style.color = "blue";
                    set_translation(event.target.dataset.token_id);
                }
            });
        });

    </script>
    <div class="show_entry">
        <h2>
            {% for token in title %}
                {{ token.word }}
            {% endfor %}
        </h2>
        {% for paragraph in paragraphs %}
            <p>
                {% for token in paragraph.text.tokens.all %}
                    {% if token.local_choice_selection.choice_selection in enabled_choices %}
                        <select name="token"
                            class="choice"
                            data-correct="{{ token.word }}"
                            data-rule_name="{{ token.rule.name }}"
                            data-token_id="{{ token.id }}"
                        >
                            {% for choice in token.local_choice_selection.choices.all %}
                                {% if token.is_upper %}
                                    console.log("in upper")
                                    <option value="{{ choice|capfirst }}"> {{ choice|capfirst }} </option>
                                {% else %}
                                    <option value="{{ choice }}"> {{ choice }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <a id="normal_token" data-token_id="{{ token.id }}" style="font-size:16px;">{{ token.word }}</a>
                    {% endif %}
                {% endfor %}
            </p>
    {% endfor %}
    </div>
    <div class="translation">
        <h2>Translation</h2>
        <div id="word_translation"></div>
        <div id="translation"></div>
    </div>
    <div class="rules">
        <h2>Grammar rules</h2>
        <div id="rules"></div>
    </div>
    <div class="show_footer">
        <a class="header_link btn btn-secondary show_footer_link" href="{% url 'choice_selection' id %}">
            Restart exercise
        </a>
        <a class="header_link btn btn-secondary show_footer_link" href="{% url 'choice_selection' id %}">
            Edit exercise
        </a>
        <a class="header_link btn btn-secondary show_footer_link" href="{% url 'delete_gapfiller' id %}">
            Delete exercise
        </a>
        <audio class="show_footer_audio" controls>
            <source src="{{podcast.audio_file.url}}" type="audio/mpeg">
            <source src="{{podcast.audio_file.url}}" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>
{% endblock %}